<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{ path('app_homepage') }}">Amine Shop</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{#                    {{ dump(app.request.pathInfo) }}#}
                    {#                    {{ dump(app.admin_user.roles) }} #}

                    {% if is_granted('ROLE_ADMIN') and 'admin' not in app.request.pathInfo %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin') }}">Dashboard</a>
                        </li>
                    {% endif %}

                    {# This block of links will ONLY show if the route contains 'admin' #}
                    {% if 'admin' in app.request.pathInfo %}


                        {% if 'categories' not in app.request.pathInfo %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ path('app_category_show') }}" role="button"
                                   aria-expanded="false">
                                    Categories
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_category_new') }}">Create new
                                            category</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        {% if 'subcategory' not in app.request.pathInfo %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ path('app_subCategory_index') }}" role="button"
                                   aria-expanded="false">
                                    Subcategories
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_subCategory_new') }}">Create new
                                            subcategory</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        {% if 'product' not in app.request.pathInfo %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" href="{{ path('app_product_index') }}">
                                    Products
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_product_new') }}">Create new product</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        {% if 'admin_user' not in app.request.pathInfo %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" href="{{ path('app_user_show') }}">
                                    Users
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_user_new') }}">Create new user</a></li>
                                </ul>
                            </li>

                        {% endif %}
                    {% endif %}

                </ul>

                <div class="navbar-nav ms-auto">
                    {% if app.user %}
                        <div class="nav-item mt-1">
                <span class="navbar-text me-3">
                  Welcome, {{ app.user.firstName|default(app.user.userIdentifier) }}!
                </span>
                        </div>

                        <div class="nav-item">
                            <a href="{{ path('app_logout') }}" class="btn btn-outline-light">Logout</a>
                        </div>

                    {% else %}

                        <div class="nav-item">
                            <a href="{{ path('app_login') }}" class="nav-link">Login</a>
                        </div>
                        <div class="nav-item">
                            <a href="{{ path('app_register') }}" class="btn btn-primary">Register</a>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </nav>
</header>
