{{ form_start(form) }}
<div class="mb-3">
    {{ form_row(form.name) }}
</div>

<div class="mb-3">
    {{ form_row(form.description) }}
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_row(form.price) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_row(form.stock) }}
    </div>
</div>

{# FIXED: This div was incorrectly using col-md-6. It should be a full-width element. #}
<div class="mb-3">
    {{ form_row(form.subcategory) }}
</div>

<div class="mb-3">
    {{ form_row(form.image) }}

    <div id="{{ form.vars.id }}_preview_container" class="mt-2 d-flex justify-content-center"
         style="{{ (product is defined and product.image) ? 'display: flex;' : 'display: none;' }}">
        <img id="{{ form.vars.id }}_preview_image"
             src="{{ (product is defined and product.image) ? asset('uploads/imgs/products/' ~ product.image) : '#' }}"
             alt="Image preview"
             class="img-fluid rounded border"/>
    </div>
</div>

<div class="d-grid">
    <button class="btn btn-primary btn-lg">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
